<header class="navbar" [class.hidden]="isHidden">

  <div class="left">
    <button class="menu-btn" (click)="toggleSidebar()">
      <span class="material-icons">menu</span>
    </button>
    <a routerLink="/" class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </a>
   
  </div>

  <nav class="nav-links">
    <a routerLink="/">Accueil</a>
    <a routerLink="/category/homme">Parfum Hommes</a>
    <a routerLink="/category/femme">Parfum Femmes</a>
    <a routerLink="/collection">Nouveautés</a>
    <a routerLink="/suivi">Contact</a>
  </nav>

  <div class="center">
    <div class="search-wrapper" [class.active]="searchVisible || isDesktop">
      <button class="search-icon" (click)="toggleSearch()" *ngIf="!isDesktop">
        <span class="material-icons">search</span>
      </button>

      <input
        class="search-input"
        type="text"
        placeholder="Rechercher..."
        [class.show]="searchVisible || isDesktop"
      />
    </div>
  </div>

  <a routerLink="/cart" class="cart-icon">
    <span class="material-icons">shopping_cart</span>
    <span class="badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
  </a>
</header>
<div class="search-overlay" *ngIf="searchVisible && !isDesktop" (click)="toggleSearch()"></div>


<div class="blackfriday-banner">
  <div class="blackfriday-track">
    <span class="blackfriday-text">
      🎁 SOLDE !!: - Jusqu’à -50% sur une sélection de parfums 🎉
    </span>
  </div>
</div>
